<div class="col-md-5 mx-auto my-5 d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div class="profile-image-wrap ">
            <img src="/user_images/default.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
    <h2 class="text-center my-1">
        <%= @current_admin.username %>
    </h2>

    <div class="mt-5">
        <%= link_to 'Input Nilai', '/admin/input-nilai', class: "btn btn-secondary" %>
    </div>
</div>

<style>
    .profile-image-wrap {

        width: 150px;
        height: 150px;
        background-color: #f5f5f5;
        border: #f5f5f5 solid 5px;
        border-radius: 100%;
        overflow: hidden;
    }
</style>