<div class="col-md-5 mx-auto my-5 d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div class="profile-image-wrap ">
            <img src="/user_images/default.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
    <h2 class="text-center my-1">
        <%= @current_user.username %>
    </h2>

    <div class="scores mt-5 text-center">
        <h4>
            Grade
        </h4>
        <h2>
            A
        </h2>
        <div class="my-5 text-center">
            <%= link_to 'Show Details scores', user_profile_evaluation_path %>
        </div>
    </div>
</div>

<style>
    .profile-image-wrap {
        
        width: 150px;
        height: 150px;
        background-color: #f5f5f5;
        border: #f5f5f5 solid 5px ;
        border-radius: 100%;
        overflow: hidden;
    }
</style>