<!-- make alert show flash notice  -->
<% if flash[:success] %>
    <div class="alert alert-success mt-5" role="alert">
        <%= flash[:success] %>
    </div>
<% end %>

<div class="container my-5">
    <div class="col-md-6 mx-auto">
        <h1>
            WELCOME TO SEKOLAH MINI
        </h1>
    </div>
</div>